In [1]:
import os 
import pandas as pd
import IPython.display

In [2]:
# for visual studio code
os.chdir('/home/r10222035/boosted_V_ML_test/BDT/')

In [3]:
file_name = 'BDT_training_results.csv'
training_results_df = pd.read_csv(file_name)

In [4]:
training_results_df

,kappa,Sample,Train W+,Train W-,Train Z,Test W+,Test W-,Test Z,Overall ACC,W+ AUC,W+ ACC,W- AUC,W- ACC,Z AUC,Z ACC,time
0,0.15,100k,14426,15082,13045,3532,3780,3327,0.644139,0.808336,0.773005,0.811594,0.765861,0.812130,0.770091,2022-10-05 21:30:47.244185
1,0.15,700k,100302,105627,90997,25064,26585,22583,0.646015,0.808412,0.769021,0.814892,0.765236,0.808871,0.774370,2022-10-05 21:37:53.260418
2,0.30,100k,14426,15082,13045,3532,3780,3327,0.648745,0.821633,0.778363,0.822396,0.768681,0.813756,0.772911,2022-10-05 21:58:40.149068
3,0.30,700k,100302,105627,90997,25064,26585,22583,0.652347,0.820229,0.773885,0.826174,0.771864,0.810041,0.774679,2022-10-05 22:52:53.070864

In [42]:
def read_sample_size(df):
    col = ['kappa', 'Sample', 'Train W+', 'Train W-', 'Train Z', 'Test W+',	'Test W-', 'Test Z', 'time']
    IPython.display.display(df[col])
    
    cols = ['Train W+', 'Train W-', 'Train Z', 'Test W+', 'Test W-', 'Test Z']
    for i, row in df[cols].iterrows():
        training_set = f"${row['Train W+']//1000}k+{row['Train W-']//1000}k+{row['Train Z']//1000}k$"
        testing_set = f"${row['Test W+']//1000}k+{row['Test W-']//1000}k+{row['Test Z']//1000}k$"
    
        print(f'{training_set:20} {testing_set:20}')
    

def read_training_result(df):
    pd.set_option('display.precision', 3)
    col = ['kappa', 'Sample', 'Overall ACC', 'W+ AUC', 'W+ ACC', 'W- AUC', 'W- ACC', 'Z AUC', 'Z ACC', 'time']
    IPython.display.display(df[col])

In [44]:
read_sample_size(training_results_df)

,kappa,Sample,Train W+,Train W-,Train Z,Test W+,Test W-,Test Z,time
0,0.15,100k,14426,15082,13045,3532,3780,3327,2022-10-05 21:30:47.244185
1,0.15,700k,100302,105627,90997,25064,26585,22583,2022-10-05 21:37:53.260418
2,0.30,100k,14426,15082,13045,3532,3780,3327,2022-10-05 21:58:40.149068
3,0.30,700k,100302,105627,90997,25064,26585,22583,2022-10-05 22:52:53.070864

$14k+15k+13k$        $3k+3k+3k$
$100k+105k+90k$      $25k+26k+22k$
$14k+15k+13k$        $3k+3k+3k$
$100k+105k+90k$      $25k+26k+22k$

In [45]:
read_training_result(training_results_df)

,kappa,Sample,Overall ACC,W+ AUC,W+ ACC,W- AUC,W- ACC,Z AUC,Z ACC,time
0,0.15,100k,0.644,0.808,0.773,0.812,0.766,0.812,0.770,2022-10-05 21:30:47.244185
1,0.15,700k,0.646,0.808,0.769,0.815,0.765,0.809,0.774,2022-10-05 21:37:53.260418
2,0.30,100k,0.649,0.822,0.778,0.822,0.769,0.814,0.773,2022-10-05 21:58:40.149068
3,0.30,700k,0.652,0.820,0.774,0.826,0.772,0.810,0.775,2022-10-05 22:52:53.070864